body {
    background-color: #cbcbcb;
    font-family: sans-serif;
    margin: 0;
}

.header {
    text-align: center;
    text-transform: uppercase;
    background: #a978b3;
    padding: 32px;
    color: #3f221f;
    border-bottom:  5px solid rgb(110 , 24, 72);
}
.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    max-width: 1400px;
    gap: 20px;
}
* {
    box-sizing: border-box;
}