.canvas {
    background-color: #a21aff;
    width: 500px;
    height: 600px;
}
.frame {
    border: solid black 50px;
    width: 500px;
    padding: 50px;
    margin: 20px auto;
}
.one {
    width: 425px;
    height: 150px;
    background-color: #c330ff;
    margin: 20px auto;
}
.two {
    width: 480px;
    height: 220px;
    background-color: #c2659f;
    margin: 0 auto 20px;
}
.three {
    width: 450px;
    height: 150px;
    background-color: #b481c5;
    margin: auto;
}
